<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dalil Shafi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">Hello World</div>
            <div class="col-4">There you</div>
            <div class="col-4">ok</div>
        </div>
    </div>

    <!-- JQuery -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>